<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
  </head>
  <body>
    {{ content | safe }}
    
    <footer>
      <p>
        Made on <a href="https://glitch.com">Glitch</a> | Join the <a href="https://forms.gle/16mmD1TqNFjEsK8y9">Glitch Community Blogroll</a>
      </p>
    </footer>
  </body>
</html>